/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@use "utils";

$color_type_0: rgb(151, 118, 123);
$color_type_1: rgb(175, 120, 113);
$color_type_2: rgb(255, 179, 169);
$color_type_3: rgb(255, 255, 255);
$color_type_4: rgba(32, 32, 30, 0.25);

$font_type_0: 400 64px/1.29 "Inter", Helvetica, Arial, serif;
$font_type_1: 400 32px/1.29 "Inter", Helvetica, Arial, serif;
$font_type_2: 400 30px/1.87 "Inter", Helvetica, Arial, serif;
$font_type_3: 400 30px/1.29 "Inter", Helvetica, Arial, serif;
$font_type_4: 400 30px/1.2 "Inter", Helvetica, Arial, serif;

.root {
  @include utils.flex-column;
  background-color: $color_type_0;
}
.root.layout {
  position: relative;
  overflow: hidden;
}
.group {
  @include utils.flex-column;
}
.group.layout1 {
  position: relative;
  flex-grow: 1;
  margin: 12px 17px 135px 16px;
  @include utils.lg {
    margin: 12px 15px 135px 14px;
  }
  @include utils.md {
    margin: 12px 13px 135px 12px;
  }
  @include utils.sm {
    margin: 12px 11px 135px 10px;
  }
  @include utils.xs {
    margin: 12px 10px 135px 9px;
  }
  @include utils.xxs {
    margin: 12px 9px 135px 8px;
  }
  @include utils.tn {
    margin: 12px 8px 135px;
  }
}
.block {
  @include utils.flex-column;
  background: var(--src) center center / cover no-repeat;
}
.block.layout {
  position: absolute;
  top: -384px;
  height: 1017px;
  left: -156px;
  width: 1580px;
}
.group.layout {
  position: relative;
  flex-grow: 1;
}
.block1 {
  @include utils.flex-column;
  background-color: $color_type_4;
}
.block1.layout {
  position: absolute;
  top: 330px;
  height: 646px;
  left: -58px;
  width: 149px;
}
.big_title {
  @include utils.h-center-content;
  font: $font_type_2;
  color: $color_type_2;
  text-align: center;
  letter-spacing: 0px;
  @include utils.lg {
    font-size: 27px;
    text-align: center;
  }
  @include utils.md {
    font-size: 24px;
  }
  @include utils.sm {
    font-size: 21px;
  }
  @include utils.xs {
    font-size: 20px;
  }
  @include utils.xxs {
    font-size: 18px;
  }
  @include utils.tn {
    font-size: 17px;
  }
}
.big_title.layout {
  position: relative;
  flex-grow: 1;
  width: 24.83%;
  margin: 11px 24.83% 107px 50.34%;
}
.flex {
  @include utils.flex-column;
}
.flex.layout {
  position: relative;
  flex-grow: 1;
}
.flex1 {
  display: flex;
  @include utils.xs {
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 0px;
    row-gap: 16px;
  }
}
.flex1.layout {
  position: relative;
  width: 72.28%;
  margin: 0px auto;
  @include utils.lg {
    width: 77.66%;
  }
  @include utils.md {
    width: 82.26%;
  }
  @include utils.sm {
    width: 86.08%;
  }
  @include utils.xs {
    width: 89.18%;
  }
  @include utils.xxs {
    width: 91.66%;
  }
  @include utils.tn {
    width: 93.61%;
  }
}
.flex1 > .item {
  @include utils.flex-column;
  position: relative;
  flex: 1 1 73px;
  @include utils.xs {
    flex: 0 0 100%;
  }
}
.big_title1 {
  @include utils.h-center-content;
  font: $font_type_4;
  color: $color_type_3;
  text-align: center;
  letter-spacing: 0px;
  opacity: 0.81;
  @include utils.lg {
    font-size: 27px;
    text-align: center;
  }
  @include utils.md {
    font-size: 24px;
  }
  @include utils.sm {
    font-size: 21px;
  }
  @include utils.xs {
    font-size: 20px;
  }
  @include utils.xxs {
    font-size: 18px;
  }
  @include utils.tn {
    font-size: 17px;
  }
}
.big_title1.layout {
  position: relative;
  flex-grow: 1;
}
.flex1 > .spacer {
  flex: 0 1 388px;
  @include utils.xs {
    display: none;
  }
}
.flex1 > .item1 {
  @include utils.flex-column;
  position: relative;
  flex: 1 1 60px;
  @include utils.xs {
    flex: 0 0 100%;
  }
}
.block2 {
  @include utils.flex-column;
}
.block2.layout {
  position: relative;
  flex-grow: 1;
}
.flex1 > .item2 {
  @include utils.flex-column;
  position: relative;
  flex: 1 1 106px;
  @include utils.xs {
    flex: 0 0 100%;
  }
}
.hero_title {
  @include utils.h-center-content;
  font: $font_type_0;
  color: $color_type_3;
  text-align: center;
  text-shadow: 0px 0px 51px rgba(255, 255, 255, 0.24705882352941178);
  letter-spacing: 43.84px;
  @include utils.lg {
    font-size: 56px;
    text-align: center;
  }
  @include utils.md {
    font-size: 48px;
  }
  @include utils.sm {
    font-size: 41px;
  }
  @include utils.xs {
    font-size: 37px;
  }
  @include utils.xxs {
    font-size: 34px;
  }
  @include utils.tn {
    font-size: 31px;
  }
}
.hero_title.layout {
  position: relative;
  margin: 105px 0px 0px;
}
.flex2 {
  display: flex;
  @include utils.lg {
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 0px;
    row-gap: 16px;
  }
}
.flex2.layout {
  position: relative;
  width: 70.36%;
  margin: 362px auto 0px;
  @include utils.lg {
    width: 75.99%;
  }
  @include utils.md {
    width: 80.85%;
  }
  @include utils.sm {
    width: 84.91%;
  }
  @include utils.xs {
    width: 88.24%;
  }
  @include utils.xxs {
    width: 90.91%;
  }
  @include utils.tn {
    width: 93.03%;
  }
}
.flex2 > .item {
  @include utils.flex-column;
  position: relative;
  flex: 1 1 601px;
  @include utils.lg {
    flex: 0 0 100%;
  }
}
.big_title11 {
  @include utils.font-face($font_type_3, $color_type_3, 0px);
  opacity: 0.72;
  @include utils.lg {
    font-size: 27px;
    text-align: left;
  }
  @include utils.md {
    font-size: 24px;
  }
  @include utils.sm {
    font-size: 21px;
  }
  @include utils.xs {
    font-size: 20px;
  }
  @include utils.xxs {
    font-size: 18px;
  }
  @include utils.tn {
    font-size: 17px;
  }
}
.big_title11.layout {
  position: relative;
  flex-grow: 1;
}
.flex2 > .spacer {
  flex: 0 1 199px;
  @include utils.lg {
    display: none;
  }
}
.flex2 > .item1 {
  @include utils.flex-column;
  position: relative;
  flex: 1 1 190px;
  @include utils.lg {
    flex: 0 0 100%;
  }
}
.contain_block {
  @include utils.flex-column;
  background-color: $color_type_1;
  border-radius: 33.66px 33.66px 33.66px 33.66px;
}
.contain_block.layout {
  position: relative;
  flex-grow: 1;
  margin: 165px 0px 40px;
}
.big_title2 {
  @include utils.h-center-content;
  font: $font_type_1;
  color: $color_type_3;
  text-align: center;
  letter-spacing: 0.48px;
  @include utils.lg {
    font-size: 29px;
    text-align: center;
  }
  @include utils.md {
    font-size: 25px;
  }
  @include utils.sm {
    font-size: 23px;
  }
  @include utils.xs {
    font-size: 21px;
  }
  @include utils.xxs {
    font-size: 20px;
  }
  @include utils.tn {
    font-size: 19px;
  }
}
.big_title2.layout {
  position: relative;
  flex-grow: 1;
  margin: 11px 13px 18px 15px;
  @include utils.lg {
    margin: 11px 11px 18px 13px;
  }
  @include utils.md {
    margin: 11px 10px 18px 11px;
  }
  @include utils.sm {
    margin: 11px 8px 18px 9px;
  }
  @include utils.xs {
    margin: 11px 7px 18px 9px;
  }
  @include utils.xxs {
    margin: 11px 7px 18px 8px;
  }
  @include utils.tn {
    margin: 11px 6px 18px 7px;
  }
}
