{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Inaya's App</title>
<link rel="stylesheet" href= "{% static "/home/css/style.css" %}">
{% endblock meta %}
<head>
    <style>
        
    </style>
</head>
{% block content %}
<body>
    <div class = "thisPage">
        <div class = "bg">
            <div class = "navbar">
            <a class = "nav-content">Home</a>
            <a class = "nav-content">Blog</a>
            <a class = "nav-content">Contacts</a>
            </div>
            <h1 class = "judul">LOREM IPSUM</h1>
        </div>
        <h3 class = "text-heading3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non at felis convallis elementum dignissim ac sed et. Sollicitudin rhoncus leo convallis purus dui etiam purus aliquam. Eget quis ipsum vel tincidunt fermentum sagittis. Laoreet sed neque id nulla mattis duis. Leo mi tristique curabitur convallis et lectus proin lorem a. Nisi, suspendisse consequat id libero habitasse sapien, volutpat quisque diam. Nibh id rhoncus, amet ipsum vel quam. Eget ac proin malesuada sem pharetra viverra.
            Elit posuere ut at tincidunt nunc in lobortis. Interdum pellentesque tincidunt ipsum adipiscing tellus eget pulvinar diam. Sit pharetra vestibulum justo, vestibulum. Fringilla egestas elementum nibh tellus, odio cras laoreet. Odio platea eu pulvinar mi porta. Dolor pretium, sed in ac. Netus sollicitudin pharetra, quis nisl, mi mattis nec nunc aliquet. Pellentesque erat et turpis id aliquet. Sagittis lobortis purus sapien ipsum justo, vitae, sed lectus. Ac nulla nam rhoncus elementum. Cras ultrices amet metus laoreet mollis malesuada dignissim. Molestie nulla nisl neque elit duis aliquam viverra quam adipiscing.
            Purus et ultricies molestie cursus aenean sed quam ipsum vulputate. Et ultrices blandit pellentesque odio purus. In non ipsum et quis a lacus egestas. Mauris potenti neque quam odio consequat ipsum, quis odio dignissim. Consectetur eget cras lectus malesuada. Quam natoque at proin quis rhoncus. Viverra facilisis id augue risus aliquam rhoncus, eu quis. Et sociis felis, netus at turpis arcu amet. Odio phasellus porttitor nulla scelerisque lectus ipsum sit elit elementum. Amet sodales quis sed mus ut. Sit tempor donec id pellentesque sed orci aliquam. Sit nec mattis arcu feugiat magna malesuada. 
        </h3><br><h3 class="text-heading3">
            Vitae molestie in tellus convallis curabitur duis.
            Blandit lectus amet, consequat, vitae. Scelerisque mauris, consectetur nunc arcu. Condimentum lorem gravida accumsan egestas nullam adipiscing sit felis. Scelerisque cursus pharetra cras tristique et, laoreet magna ultrices. Dolor scelerisque adipiscing ornare ut aliquam a egestas nunc. Cursus arcu, nunc, porttitor adipiscing. Ullamcorper orci habitant viverra egestas tellus arcu commodo a vehicula. 
            Eu risus, tincidunt suscipit mauris, posuere volutpat bibendum feugiat pellentesque. At senectus aliquam urna neque, dignissim ornare gravida egestas. Nullam orci, viverra sit nulla blandit orci aenean quis sit. Penatibus non mattis urna, facilisis a egestas interdum suscipit magnis. Duis sagittis est, sit et ornare. Est lorem tellus odio ac cras amet, eleifend. Tempus sit sit consectetur nulla tincidunt neque. Sem suspendisse neque aliquet nec neque. Fames pulvinar egestas feugiat sit at vitae. Lacinia pretium mollis commodo sagittis et. Eget urna, tempor ridiculus suscipit diam, mi etiam egestas. Nullam id faucibus vitae nunc. </h3>
        <div class = "navSamping">
            <h3 class = "horizontal-text">PHOTOGRAPH</h3>
        </div> 
        <button class="see-more">See more</button>
    </div>
</body>


  {% endblock content %}