<!DOCTYPE html>
{% load static %}
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />
    <link rel="stylesheet/less" type="text/css" href= "{% static "/pxcode/css/scss.css" %}"/>
    

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="untitled-page root layout">
      <div class="group layout1">
        <div style="--src:url(/assets/cfade1ceb0634b6162a6f78c934eec14.png)" class="block layout"></div>
        <div class="group layout">
          <div class="block1 layout">
            <h1 class="big_title layout">PHOTOGRA<br />PHS</h1>
          </div>
          <div class="flex layout">
            <div class="flex1 layout">
              <div class="item"><h1 class="big_title1 layout">Home</h1></div>
              <div class="spacer"></div>
              <div class="item1">
                <div class="block2 layout"><h1 class="big_title1 layout">Blog</h1></div>
              </div>
              <div class="spacer"></div>
              <div class="item2"><h1 class="big_title1 layout">Contacts</h1></div>
            </div>
            <h1 class="hero_title layout">LOrem ipsum</h1>
            <div class="flex2 layout">
              <div class="item">
                <h1 class="big_title11 layout">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl tellus ante lectus varius. Non vel
                  sagittis, feugiat scelerisque malesuada morbi varius scelerisque malesuada. Gravida molestie felis
                  ultrices nulla massa ac, id non. Tristique convallis pulvinar velit sit luctus.
                </h1>
              </div>
              <div class="spacer"></div>
              <div class="item1">
                <div class="contain_block layout"><h1 class="big_title2 layout">See more</h1></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>

